[Unit]
Description=Alignak Scheduler
After=syslog.target

[Service]
ExecStart=/usr/sbin/alignak-scheduler -c /etc/alignak/daemons/schedulerd.ini

[Install]
WantedBy=multi-user.target
