[Unit]
Description=Alignak Reactionner
After=syslog.target

[Service]
ExecStart=/usr/sbin/alignak-reactionner -c /etc/alignak/daemons/reactionnerd.ini

[Install]
WantedBy=multi-user.target
