[Unit]
Description=Alignak Receiver
After=syslog.target

[Service]
ExecStart=/usr/sbin/alignak-receiver -c /etc/alignak/daemons/receiverd.ini

[Install]
WantedBy=multi-user.target
