[Unit]
Description=Alignak Broker
After=syslog.target

[Service]
ExecStart=/usr/sbin/alignak-broker -c /etc/alignak/daemons/brokerd.ini

[Install]
WantedBy=multi-user.target
