[Unit]
Description=Alignak Arbiter
After=syslog.target

[Service]
ExecStart=/usr/sbin/alignak-arbiter -r -c /etc/alignak/alignak.cfg

[Install]
WantedBy=multi-user.target
