[Unit]
Description=Alignak Poller
After=syslog.target

[Service]
ExecStart=/usr/sbin/alignak-poller -c /etc/alignak/daemons/pollerd.ini

[Install]
WantedBy=multi-user.target
